/* GENERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    padding-top: 80px;
    color: #8b8b8b;
}

h1,
h2,
h3,
h4 {
    font-weight: 500;
}

/* UTILITIES */

/* LAYOUT */

.container {
    width: 1200px;
    margin: 0 auto;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float-left {
    float: left;
}

.w-50 {
    width: 50%;
}

/* MENU */
.menu-inline li {
    display: inline-block;
    list-style: none;
    margin-right: 20px;
}

.menu-inline li:last-child {
    margin-right: 0;
}


/* BUTTONS */
.btn {
    display: inline-block;
    min-width: 100px;
    padding: 10px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.btn.btn-green {
    background: #7cbb01;
    border: 1px solid transparent;
}

.btn.btn-big {
    padding: 20px;
}

/* MAIN HEADER */
.main-header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 12px;
    background: #0d325a;
}

.main-header .logo {
    width: 15%;
}

.main-header .logo img {
    vertical-align: middle;
}

.main-header .nav-center {
    width: 45%;
}

.main-header .nav-right {
    width: 40%;
    text-align: right;
}

.main-header a {
    text-decoration: none;
    color: #fff;
}

.main-header a:not(.btn):hover {
    color: green;
}

.main-header a.btn {
    line-height: 1;
}

/* MAIN CONTENT */

/* JUMBOTRON */
.jumbotron {
    height: 480px;
    background: #0d325a;
    background-image: url('../img/background-header.png');
    background-size: 1000px;
    background-repeat: no-repeat;
    background-position: 120% 110%;
}

.jumbotron .container {
    position: relative;
    height: 100%;
}

.jumbotron .jumbotron-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.jumbotron .jumbotron-text h1 {
    margin-bottom: 30px;
    color: white;
    font-size: 48px;
}

.info {
    display: inline-block;
    width: 100%;
    padding: 30px;
    text-align: center;
    background: #d3d3d3;
}

.info h2 {
    color: #000;
}

/* COURSE SECTION */
.course img {
    height: 100px;
    width: 100px;
    padding-bottom: 4%;
}

.course h2 {
    padding-bottom: 4%;
    color: #82be0d;
}

.course p {
    padding-top: 4%;
    padding-bottom: 4%;
}

.course hr {
    width: 70px;
    margin: auto;
}

.course > hr {
    width: 1200px;
}

/* PLAN */
.plan {
    width: 30%;
    height: 100%;
    margin: 2%;
    text-align: center;
}

/* TUTOR */
.tutor {
    width: 28%;
    height: 100%;
    margin: 2%;
    text-align: center;
}

/* PROGRESS */
.progress {
    width: 30%;
    height: 100%;
    margin: 2%;
    text-align: center;
}

/* GRAPH SECTION */
.graph .container {
    position: relative;
}

/* GRAPH IMG */
.graph .container .graph-img {
    display: inline-block;
    margin: 4% 0;
}

/* GRAPH TEXT */
.graph .container .graph-text {
    position: absolute;
    left: 50%;
    top: 8%;
}

.graph-text h2 {
    font-size: 32px;
    color: #000;
    padding-bottom: 2%;
}

.graph-text p {
    padding-bottom: 2%;
}

.graph-text a {
    color: dodgerblue;
}

.graph-text a:hover {
    color: green;
}

/* MIDDLE SECTION */
.middle .container {
    position: relative;
    height: 100%
}
.middle {
    display: inline-block;
    width: 100%;
    height: 160px;
    padding: 60px;
    text-align: left;
    background: #d3d3d3;
}

.middle-text {
    width: 25%;
}

.middle-text h2 {
    font-size: 32px;
    color: #000;
}

.middle-selection {
    width: 75%;
    text-align: right;
}

.middle .container .help {
    position: fixed;
    bottom: 0;
    left: 95%;
    min-width: 50px;
    border-radius: 10px 10px 0 0;
}

/* HANDSHAKE SECTION */
.handshake .container {
    position: relative;
}

/* HANDSHAKE IMG */
.handshake .container .handshake-img {
    display: inline-block;
    margin: 4% 0;
}

/* HANDSHAKE TEXT */
.handshake .container .handshake-text {
    position: absolute;
    left: 50%;
    top: 15%;
    padding-left: 100px;
}

.handshake-text h2 {
    font-size: 32px;
    color: #000;
    padding-bottom: 8%;
}

.handshake-text p {
    padding-bottom: 6%;
}

.handshake-text a.btn {
    max-width: 240px;
    text-align: left;
}

.handshake-text a:last-child {
    text-decoration: none;
    display: inline-block;
    width: 250px;
    color: dodgerblue;
}

.handshake-text a:last-child:hover {
    color: green;
}

.handshake > hr {
    width: 1200px;
    margin: auto;
}

/* PC SECTION */
.pc .container {
    max-width: 500px;
    text-align: center;
    margin: 100px auto;
}

/* PC TEXT */
.pc .container h2,
.pc .container h3,
.pc .container p,
.pc .container a {
    margin: 20px auto;
}

.pc .container h2 {
    color: #000;
}

.pc .container h2 > span {
    color: #82be0d;
}

.pc .container h3 {
    font-size: 12px;
}

.pc .container a {
    color: dodgerblue;
}

/* COMPANY SECTION */
.company {
    height: 300px;
    background: #0d325a;
}

.company .container {
    position: relative;
    height: 100%;
}

.company .company-text {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0,-50%);
    width: 30%;
}

.company-text h2 {
    color: #fff;
    padding-bottom: 50px;
}

.company-text p {
    margin-bottom: 30px;
}

/* PLAN BOT SECTION */
.plan-bot .container{
    margin: 80px auto;
}

.plan-bot .container  h2{
    margin: 50px auto;
    text-align: center;
}

.plan-bot img {
    height: 100px;
    width: 100px;
    padding-bottom: 4%;
}

.plan-bot h3 {
    padding-bottom: 4%;
    color: #000;
}

.plan-bot p {
    padding-top: 4%;
    padding-bottom: 6%;
}

.plan-bot hr {
    height: 10px;
    margin-bottom: 6%;
}

/* STUDENT */
.student {
    width: 20%;
    height: 100%;
    margin-top: 4%;
    margin-left: 16%;
}

.student hr {
    background: dodgerblue;
}

.student a {
    color: dodgerblue;
}

/* WORKER */
.worker {
    width: 20%;
    height: 100%;
    margin: 4%;
}

.worker hr {
    background: #f0a61c;
}

.worker a {
    color: #f0a61c;
}

.worker p {
    padding-bottom: 14%;
}

/* BUSINESS */
.business {
    width: 20%;
    height: 100%;
    margin-top: 4%;
    margin-right: 16%;
}

.business hr {
    background: #82be0d;
}

.business a {
    color: #82be0d;
}

.business p {
    padding-bottom: 14%;
}

/* FAQ SECTION */
.faq {
    height: 120px;
    background: #0d325a;
}

.faq .container h2 {
    padding-top: 30px;
    color: #fff;
}

.faq .container h2 > span {
    color: #f0a61c;
}

.faq .container h3 {
    padding-top: 10px;
}

.faq .container a {
    text-decoration: none;
    color: #1877f2;
}

/* FOOTER */
.foot {
    height: 300px;
    background: #17416b;
}

.foot h2 {
    color: #fff;
}

/* FLUENTIFY T&C LIST */
.flu-list {
    width: 30%;
    line-height: 2;
    padding-top: 30px;
}

.bot-menu li {
    list-style: none;
}

.bot-menu li a {
    text-decoration: none;
    color: #8b8b8b;
}

.bot-menu li a:hover {
    color: #82be0d;
}

/* FLUENTIFY INFO */
.flu-info {
    width: 70%;
    padding: 40px 0;
    text-align: right;
}

.flu-info h2 {
    padding-bottom: 40px;
}